<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustb.hospital.mapper.AnnouncementsMapper">
    <resultMap id="anncMap" type="com.ustb.hospital.entity.Announcements">
        <id column="announcement_id" property="announcementId"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="creation_time" property="creationTime"/>
        <result column="creator" property="creator"/>

    </resultMap>
    <select id="selectAll" resultMap="anncMap">
        select * from announcement order by creation_time DESC
    </select>

    <select id="selectById" resultMap="anncMap">
        select * from announcement where announcement_id=#{announcementId}
    </select>


    <update id="updateById">
        update announcement set title=#{title},content=#{content},creation_time=#{creationTime},creator=#{creator}
        where announcement_id = #{announcementId}
    </update>

    <insert id="insert">
        insert  into announcement(title,content,creation_time,creator)
        values (#{title},#{content},#{creationTime},#{creator})
    </insert>

    <delete id="deleteById">
        delete from announcement where announcement_id=#{announcementId}
    </delete>
</mapper>